{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<main class="container mt-5">
    {% if user.is_authenticated %}
    <div class="text-center">
        <img src="{% static 'img/waou.png' %}" alt="WAOU Logo" class="img-fluid mb-4" style="max-width: 200px;">
        <p class="lead">Hi {{ user.first_name }}</p>
        <h1 class="mb-4">Welcome to the Remote Work Collaboration Platform</h1>
        <p class="lead">Manage your projects and collaborate with your team efficiently.</p>
    </div>
    {% endif %}
</main>

{% endblock %}
